body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

nav {
  text-align: center;
  width: 100%;
}
nav h1 {
  font-size: 5em;
  color: #003366;
}

.container__center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.calculator {
  background-color: #1C1C1C;
  width: 375px;
  padding: 2em;
}
.calculator .calc__display {
  background-color: #1C1C1C;
  width: 100%;
  display: flex;
  justify-content: center;
}
.calculator .calc__display input {
  background-color: #1C1C1C;
  padding: 0.5em;
  font-size: 5.5em;
  text-align: right;
  width: 100%;
  color: #FFFFFF;
  border: none;
}

.calc__buttons {
  display: grid;
  grid-template-columns: repeat 4, 1fr;
  grid-template-rows: repeat 5, 1fr;
  width: 100%;
}
.calc__buttons .clear__btn {
  grid-column: 1/2;
  grid-row: 1/2;
}
.calc__buttons .plus-minus {
  grid-column: 2/3;
  grid-row: 1/2;
}
.calc__buttons .percentage {
  grid-column: 3/4;
  grid-row: 1/2;
}
.calc__buttons .divide__btn {
  grid-column: 4/5;
  grid-row: 1/2;
}
.calc__buttons .seven {
  grid-column: 1/2;
  grid-row: 2/3;
}
.calc__buttons .eight {
  grid-column: 2/3;
  grid-row: 2/3;
}
.calc__buttons .nine {
  grid-column: 3/4;
  grid-row: 2/3;
}
.calc__buttons .multiply__btn {
  grid-column: 4/5;
  grid-row: 2/3;
}
.calc__buttons .four {
  grid-column: 1/2;
  grid-row: 3/4;
}
.calc__buttons .five {
  grid-column: 2/3;
  grid-row: 3/4;
}
.calc__buttons .six {
  grid-column: 3/4;
  grid-row: 3/4;
}
.calc__buttons .minus__btn {
  grid-column: 4/5;
  grid-row: 3/4;
}
.calc__buttons .one {
  grid-column: 1/2;
  grid-row: 4/5;
}
.calc__buttons .two {
  grid-column: 2/3;
  grid-row: 4/5;
}
.calc__buttons .three {
  grid-column: 3/4;
  grid-row: 4/5;
}
.calc__buttons .plus__btn {
  grid-column: 4/5;
  grid-row: 4/5;
}
.calc__buttons .zero {
  grid-column: 1/3;
  grid-row: 5/6;
  border-radius: 30%;
  width: 6em;
}
.calc__buttons .decimal__btn {
  grid-column: 3/4;
  grid-row: 5/6;
}
.calc__buttons .equals__btn {
  grid-column: 4/5;
  grid-row: 5/6;
}
.calc__buttons .l-grey {
  background-color: #D4D4D2;
  color: #1C1C1C;
}
.calc__buttons .d-grey {
  background-color: #505050;
}
.calc__buttons .orange {
  background-color: #FF9500;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8em;
  padding: 0.8em;
  margin: 0.2em;
  border: 1px solid #1C1C1C;
  border-radius: 50%;
  color: #FFFFFF;
  width: 3em;
  height: 3em;
}